<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		ul {
			width:500px;
			height:500px;
/*			background:red;
*/			list-style:none;
			padding:0;
		}
	</style>
</head>
<body>
	<ul>
		<li style='background:red'>4</li>
		<li style='background:yellow'>5</li>
		<li style='background:green'>6</li>
		<li style='background:blue'>7</li>
		<li style='background:gray'>8</li>
		<li style='background:gold'>9</li>
	</ul>
	<script type="text/javascript">
		var oUl = document.getElementsByTagName('ul')[0];
		var aLi = oUl.getElementsByTagName('li');
			debugger;
		var arrSort = aLi;
			for(var i=0; i<aLi.length; i++){

				oUl.appendChild(arrSort[i]);
				alert('hello');
			}
	</script>
</body>
</html>